#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.conteiner{
  padding-top: 40px;
  background-color: white;
  width: 846px;
  border-radius: 0px 20px 20px 20px;
  overflow: hidden;
}
.conteiner.mob{
  display: none;}

.header{
  display: flex;
}

.bike{
  width: 358px;
  height: 232px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -68px;
  flex-shrink: 0
}

.texst{
  margin-left: 60px;
  width: 425px;
  text-align: left;

}

.line{
  margin-top: 40px;
  width: 726px;
  height: 1px;
  flex-shrink: 0;
  background-color: #D9D9D9;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .conteiner{
    display: none;
  }
  .menu{
    flex-direction: column;
  }
  .conteiner.mob.show{
    display: block;
    border-top-right-radius: 0px;
    animation: appear 1.5s;
  }
  .conteiner.mob{
    animation: dissapear 1.5s;
    width: 335px;
  }
  .header{
    flex-direction: column;
  }
  .bike{
    margin: 0 auto;
    width: 295px;
    height: 192px;
  }
  .texst{
    text-align: left;
    margin: 0 20px;
    width: 295px;
  }
  .line{
    width: 295px;
    margin-top: 30px;
  }
}

@keyframes appear{
  0%{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-9999);
  }
  100%{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dissappear{
  0%{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-9999);
  }
}
