:root {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color:#494949;


  background-color: #F4F4F4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F4F4F4;
}

h1 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  color: #0C0C0C;
}
h2{
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  color: #0C0C0C;
}
h3{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  color: #0C0C0C;
}
p{
  color:#494949;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.button {
  border-radius: 16px;
  padding: 14px 24px;
  align-items: center;
  border: none;
  background-color:#3922C5;
  color: white;
}
.button:hover {
  background-color: #2C1A9A;
}

.button:hover:focus, 
.button:focus-visible, .button:active {
  background: #1F1368;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
